---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout>
	<Navbar/>
	<main>
        <section>
            <AboutMe />
        </section>
	</main>
</Layout>