---
import Layout from '../layouts/Layout.astro';
import MainSection from '../components/MainSection.astro';
import Navbar from '../components/Navbar.astro';
import HireMe from '../components/HireMe.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navbar/>
	<main>
		<section>
			<MainSection />
		</section>
		<section>
			<HireMe />
		</section>
		<section>
			<Projects />
		</section>
		<section>
			<Footer />
		</section>
	</main>
</Layout>
