---
import Layout from '../layouts/Layout.astro';
import MainSection from '../components/MainSection.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout>
	<Navbar/>
	<main>
		<MainSection />
	</main>
</Layout>

<style>
	
</style>
