---
import Layout from '../layouts/Layout.astro';
import MainSection from '../components/MainSection.astro';
import Navbar from '../components/Navbar.astro';
import HireMe from '../components/HireMe.astro';
---

<Layout>
	<Navbar/>
	<main>
		<section>
			<MainSection />
		</section>
		<section>
			<HireMe />
		</section>
	</main>
</Layout>

<style>
	
</style>
