---

---

<div class="footer bg-secondary">
    <div class="md:px-4 text-base text-primary mx-8 md:mx-24 justify-evenly space-y-4 py-8 md:py-32">
        <p class="text-3xl lg:text-5xl 3xl:text-6xl">Didn't your mother tell you that networking was good for you?</p>
        <div class="text-xl 3xl:text-3xl space-x-4">
            <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-behance"></i> <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</div>
