---

---

<div class="hire-me bg-secondary">
    <div class="md:px-4 text-base text-primary mx-8 md:mx-24 justify-evenly space-y-4 py-16 md:py-32">
        <p class="text-3xl lg:text-4xl font-semibold">Why you should hire me</p>
        <p class="text-xl lg:text-2xl 3xl:text-3xl pt-8 md:pt-14 font-thin 3xl:font-normal">Now that the internet has made it crystal clear that recruiters and potential employers only spend around 2 minutes on-average per candidate, I decided to create a 1-minute audio in the hopes of persuading these individuals to invest more of their time at taking a closer look at my work.</p>
        <p class="text-xl lg:text-2xl 3xl:text-3xl py-4 md:py-5">Hopefully that works 😊</p>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/554484609&color=%23040404&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/nocopyrightsounds" title="NCS" target="_blank" style="color: #cccccc; text-decoration: none;">NCS</a> · <a href="https://soundcloud.com/nocopyrightsounds/sub-urban-cradles-ncs-release" title="Sub Urban - Cradles [NCS Release]" target="_blank" style="color: #cccccc; text-decoration: none;">Sub Urban - Cradles [NCS Release]</a></div>
    </div>
</div>
