---
const  { imageSrc } = Astro.props;
---

<div class="flex w-full h-full shadow-md hover:scale-110 items-center justify-center content-center ease-in duration-500 p-6 rounded-md hover:shadow-xl">
    <img alt="gallery" class="block object-contain rounded-lg" src={imageSrc}>
</div>