---

---

<div class="introduction h-screen w-full">
    <video autoplay preload='auto' muted loop class="blur-sm h-screen" id="myVideo">
        <source src="assets/temp-bg-video.mp4" type="video/mp4">
    </video>
    <div class="relative top-1/4 md:right-auto px-4 text-center md:text-end mx-12 space-y-2  md:space-y-4 py-8">
        <h2 class="text-3xl lg:text-4xl 3xl:text-5xl">Hello, My name is</h2>
        <h1 class="text-4xl lg:text-5xl 3xl:text-6xl font-semibold">VARSHA B REDDY</h1>
        <h3 class="text-3xl lg:text-4xl 3xl:text-5xl">& I'm an ally to my users.</h3>
    </div>
</div>

<style>
    video {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: 0;
    }
</style>