---
const { title, description, cardImage, replaceImg, link } = Astro.props;

const imgSrc = "url(/assets/"+cardImage+")";
const replaceImgSrc = "url(/assets/"+replaceImg+")";
---

<div class="flex h-full w-5/6 my-8">
  <div class="flex flex-col md:flex-row w-full justify-evenly 3xl:justify-center rounded-lg">
    <div id="project-image" class="md:max-w-[45%] 3xl:max-w-[35%] w-full h-56 md:h-60 hover:scale-125 ease-in duration-500 shadow-md hover:shadow-xl rounded-lg"/>
    <div class="px-1 md:max-w-[45%] md:px-12 w-full py-6 space-y-4 justify-content flex flex-col">
        <a target="_blank" href={link}>
            <h5 class="text-xl md:text-2xl 3xl:text-3xl font-medium mb-2 underline underline-offset-4">{title}<i class="ml-2 fa-solid fa-arrow-up-right-from-square"></i></h5>
        </a>
      <p class="text-base md:text-xl mb-4">
        {description}
      </p>
    </div>
  </div>
</div>


<style define:vars={{ old: imgSrc, new: replaceImgSrc}}>

#project-image {
  background-image: var(--old);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#project-image:hover {
  background-image: var(--new);
}

</style>