---
import ProjectCard from "./ProjectCard.astro";
---

<div class="hire-me bg-primary h-screen">
    <div class="md:px-4 text-base text-secondary mx-8 md:mx-24 justify-evenly space-y-4 py-16 md:py-32">
        <p class="text-3xl lg:text-5xl 3xl:text-6xl">Work that I'm proud of</p>
        <hr class="w-3/6 md:w-2/6 text-black">
        <div class="space-y-16">
            <ProjectCard title="Nest App" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam." cardImage="temp-img.jpg" replaceImg="replace-temp-img.jpg" link="https://www.behance.net/gallery/152928267/Nest-App-UIUX-Case-Study"/>
            <ProjectCard title="Nest App" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam." cardImage="temp-img.jpg" replaceImg="replace-temp-img.jpg" link="https://www.behance.net/gallery/152928267/Nest-App-UIUX-Case-Study"/>
        </div>
    </div>
</div>
