---
import ProjectCard from "./ProjectCard.astro";
---

<div class="hire-me block bg-primary">
    <div class="md:px-4 text-base text-secondary mx-8 md:mx-24 space-y-2 py-24 h-full">
        <p class="text-3xl lg:text-5xl 3xl:text-6xl">Work that I'm proud of</p>
        <hr class="w-3/6 md:w-2/6 text-black">
        <div class="space-y-16">
            <!-- TODO: Use for loop to create projects dynamically -->
            <ProjectCard title="Nest App" description="Nest app is a management app that can be used by both owners and residents. The app can be used for multiple purposes such as storing documents, tracking rent and other expenses, sharing information etc" cardImage="temp-img.jpg" replaceImg="replace-temp-img.jpg" link="https://www.behance.net/gallery/152928267/Nest-App-UIUX-Case-Study"/>
            <ProjectCard title="100 Days of Design" description="In Progress 🚧" cardImage="temp-img.jpg" replaceImg="replace-temp-img.jpg" link="https://www.behance.net/gallery/152928267/Nest-App-UIUX-Case-Study"/>
        </div>
    </div>
</div>
