---
import ProjectCard from "./ProjectCard.astro";
---

<div class="hire-me block bg-primary">
    <div class="md:px-4 text-base text-secondary mx-8 md:mx-24 space-y-2 py-24 h-full">
        <p class="text-3xl lg:text-5xl 3xl:text-6xl text-center">Work that I'm proud of</p>
        <div class="flex flex-wrap space-y-16 w-full justify-evenly">
            <!-- TODO: Use for loop to create projects dynamically -->
            <ProjectCard title="Nest App" description="Nest app is a management app that can be used by both owners and residents." cardImage="temp-img.jpg" replaceImg="replace-temp-img.jpg" link="https://www.behance.net/gallery/152928267/Nest-App-UIUX-Case-Study"/>
            <ProjectCard title="100 Days of Design" description="In Progress 🚧" cardImage="design-replace.jpg" replaceImg="Design-Cover.png" link="https://hospitable-jumper-283.notion.site/100-days-of-Design-Challenge-3b4e15c41a8c4ae5aae64dd4b570f4bb"/>
        </div>
    </div>
</div>
