---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="https://kit.fontawesome.com/55996ac3b9.js" crossorigin="anonymous"></script>
		<meta name="generator" content={Astro.generator} />
		<title>Varsha's PortFolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--black: #141414;
		--white: #fefbfb;
		--poppins: "Poppins", sans-serif;
		--inter: "Inter", sans-serif;
	}

	::-webkit-scrollbar {
		display: none;
	}

	html {
		scroll-behavior: smooth;
		/* overflow: hidden; */
		background-color: var(--white);
		font-family: var(--poppins);
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: var(--inter);
	}
</style>
